# API Gateway Configuration
GATEWAY_PORT=3000

# User Service Configuration
USER_SERVICE_PORT=3001
USER_DB_HOST=localhost
USER_DB_PORT=3306
USER_DB_USERNAME=root
USER_DB_PASSWORD=Micr@1232
USER_DB_NAME=user_db

# Product Service Configuration
PRODUCT_SERVICE_PORT=3002
PRODUCT_DB_HOST=localhost
PRODUCT_DB_PORT=3306
PRODUCT_DB_USERNAME=root
PRODUCT_DB_PASSWORD=Micr@1232
PRODUCT_DB_NAME=product_db

# Order Service Configuration
ORDER_SERVICE_PORT=3003
ORDER_DB_HOST=localhost
ORDER_DB_PORT=3306
ORDER_DB_USERNAME=root
ORDER_DB_PASSWORD=Micr@1232
ORDER_DB_NAME=order_db

# Node Environment
NODE_ENV=development

# Logging
LOG_LEVEL=debug
