<div class="dashboard">

  <header class="header">
    <h1>🚀 NestJS + Angular Micro Frontend</h1>
    <p>API Gateway & Microservices Dashboard</p>
  </header>

  <div class="cards">

    <div class="card">
      <h2>👤 User Service</h2>
      <p>Manage users, roles and permissions</p>
      <a routerLink="/users">Open Users</a>
    </div>

    <div class="card">
      <h2>📦 Product Service</h2>
      <p>Manage products and inventory</p>
      <a routerLink="/products">Open Products</a>
    </div>

    <div class="card">
      <h2>🛒 Order Service</h2>
      <p>Manage customer orders</p>
      <a routerLink="/orders">Open Orders</a>
    </div>

  </div>

  <router-outlet></router-outlet>

</div>
